<section class="post" style="text-align:center;">
	<a href="http://twitter.com/vemdel"> Twitter</a>
	<a href="https://uk.pinterest.com/vendelis/"> Pinterest</a>
	<a href="https://www.facebook.com/vemdel"> Facebook</a>
</section>